@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.eot");
  src: local("☺"), url("../fonts/gilroy-medium.woff") format("woff"),
    url("../fonts/gilroy-medium.ttf") format("truetype"),
    url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot");
  src: local("☺"), url("./fonts/gilroy-bold.woff") format("woff"),
    url("../fonts/gilroy-bold.ttf") format("truetype"),
    url("../fonts/gilroy-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.nav_wrapper {
  position: fixed;
  top: 0;
  z-index: 0;
  background: #fff;
  width: 100%
  /* margin-bottom: 45px; */
}
hr {
  height: 1px;
  background: black;
}
.header {
  margin-bottom: calc(20px + (105 - 20) * ((100vw - 320px) / (1440 - 320)));
}
.container {
  margin: 0 auto;
  max-width: 1024px;
}
.header__nav {
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_list {
  list-style: none;
  display: block;
}
.header_list a {
  text-decoration: none;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #828282;
}


.header__information img {
  width: 100%;
}
.header__data {
  display: flex;
  justify-content: flex-start;
  padding-top: 127px;
}
.header__name {
  font-family: Gilroy-Bold;
  font-weight: 700;
  font-size: 48px;
  max-width: 250px;
  line-height: 59px;
  color: #070707;
}
.header__info {
  align-self: flex-end;
  padding: 0 0 12px 96px;
}

.header__wrapper img {
  width: 100%;
}
.header__profession {
  font-family: Gilroy-Medium;
  font-weight: 500;
  line-height: 22px;
  font-size: 18px;
  color: #070707;
}
.header__age {
  font-family: Gilroy-Medium;
  font-weight: 500;
  line-height: 22px;
  font-size: 18px;
  color: #070707;
}
@media (max-width: 945px) {
  .container {
    margin: 0 5px;
  }
  .header__nav {
    height: 28px;
  }
  .header_list a {
    font-size: 16px;
  }
  .header__information {
    margin-top: 15px;
  }
  .header__data {
    margin-bottom: 30px;
  }

  .header__name {
    font-size: 28px;
    width: 150px;
    line-height: 30px;
  }
  .header__info {
    padding: 0 0 5px 30px;
  }
  .header__profession,
  .header__age {
    line-height: 16px;
    font-size: 14px;
  }
}

/*MAIN*/

.aboutMe {
  background: #f6f6f6;
  padding: 120px 0 107px;
}
.title {
  text-align-last: center;
  font-family: Gilroy-Bold;
  text-align: center;
  color: #070707;
  font-size: 34px;
  line-height: 42px;
  padding-bottom: 47px;
}
.subTitle {
  text-align-last: center;
  font-family: Gilroy-Medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  padding: 0 0 50px;
}
@media (max-width: 945px) {
  .aboutMe {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .aboutMe__title {
    font-size: 34px;
    line-height: 42px;
    padding-bottom: calc(10px + (39 - 10) * ((100vw - 320px) / (945 - 320)));
  }
  .aboutMe__item {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: calc(15px + (50 - 15) * ((100vw - 320px) / (945 - 320)));
  }
}

/* //////////////////////////////  SKILLS */

.skills {
  padding: 110px 0;
}
.skills__program {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .skills__program {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    justify-items: center;
  }
}
.item {
  width: calc(130px + (162 - 130) * ((100vw - 320px) / (1440 - 320)));
  height: calc(160px + (202 - 160) * ((100vw - 320px) / (1440 - 320)));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.skills__img {
  object-fit: unset;
}
.skills__text {
  font-family: Gilroy-Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.skills__star img {
  width: 16px;
  height: 16px;
}

/* ////////////////    PORTFOLIO       ////////////// */

.portfolio {
  background: #f6f6f6;
  padding: 132px 0 0 0;
}

.portfolio__bloc-img img {
  width: 100%;
}

.portfolio__bloc-name {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  padding: 44px 0 96px;
}

@media (max-width: 425px) {
  .portfolio {
    padding: 40px 0 0 0;
  }

  .portfolio__bloc-name {
    font-size: 15px;
    line-height: 17px;
    padding: 20px 0 35px;
  }
}

/*//////////////////////////////FOOTER*/

footer {
  padding: 115px 0 123px;
}

.wrapper__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 30px;
  border-radius: 50px;
  border: none;
  background-color: black;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0 0;
}
.media img {
  cursor: pointer;
}
